@media screen and (max-width: 480px){
    .section img {
        height : auto !important;
        width  : 100% !important;
    }
}

body {
  background: #f1f1f1;
}

pre {
  background-color : transparent !important;
  white-space      : pre !important;
  overflow-x       : auto;
  overflow-y       : hidden;
  border-style     : none;
  word-wrap        : normal !important;
}

.highlight{
  border-radius         : 10px;
  -webkit-border-radius : 10px;
  -moz-border-radius    : 10px;
}

code, pre{
  color       : #839496;
  font-family : Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
}

blockquote, p {
  font-size: 14px !important;
}

button {
  border-radius         : 10px;
  -webkit-border-radius : 10px;
  -moz-border-radius    : 10px;
}


h1, h2, h3, h4, h5, h6 {
  margin-top    : 35px !important;
  margin-bottom : 10px !important;
  line-height: 27.5px;
}

h3, h4, h5, h6 {
  border-bottom: none !important;
}


.literal {
  display: inline-block;
  white-space: no-wrap;
  background: #fff;
  font-size: .9em;
  line-height: 1.5em;
  color: #555;
  border: 1px solid #ddd;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  padding: 0 .3em;
  margin: -1px 0;

}

.archive_link {
  margin-top    : 10px ;
  margin-bottom : 10px ;
}


.social-buttons {
  background-color    : #DCDCDC;
  margin-top          : 10px ;
  margin-bottom       : 10px ;
  border-top-style    : solid;
  border-bottom-style : solid;
  border-width        : 1px;
  border-color        : #FAEBD7;
  padding             : 5px;
  /* margin: 30px; */
}

.content-sponsor {
  margin : 30px auto 30px auto;
}

.twitter-share-button {
  display : inline;
  width   : 105px!important;
}

.pocket-btn {
  display : inline;
  width   : 105px!important;
}

#___plusone_0 {
  width: 75px!important;
}

.postmeta {
  margin-top    : 30px !important;
  margin-bottom : 20px !important;
}

.author > img {
  max-width:     25% !important;
  margin-bottom: 10px!important;
  margin-top:    10px!important;
}
